<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
    <title>Learning Node.js</title>

    <style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(4, 5, 73);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(223, 239, 252);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active1 {
    background-color: rgb(3, 49, 11);
    color: rgb(189, 243, 207);
    text-decoration: underline;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(171, 208, 241);
    color: rgb(3, 39, 68);
}
</style>

  </head>